@import url(/css/global.css);

.card-title{
    background-color: var(--about-color);
}

.whoIAm_card_image{
    background-image: url(/images/about-background-1.jpg);
}
.whoIAm_card_image::after{
    background-image: url(/images/about-background-2.jpg);
    opacity: 0;
}


/* logo animation color */
.item{
    background-color:  var(--about-color);
    border: 2px solid green;
}
    
