@import url(/css/global.css);

.whoIAm_card_title{
    background-color: var(--about-color);
}
/* .whoIAm_card_title{}
.whoIAm_card_title{} */

.about{
    text-decoration: underline;/* This is the current page (index.html=>About page)*/
}
.about-items{
    background-color: var(--about-color);
    
}

.ai-projects-items{
    background-color: var(--projects-color);
}

.publications-items{
    background-color: var(--publications-color);
}


    
