:root{
    --tab-color-bold:blue;
}
li{
    display: flex;
    align-items: center;
    img{
        height: 25px;
    }
}
.menu *:hover{
    color: var(--projects-color);
}
.card-title{
    background-color: var(--projects-color);
}
/* logo animation color */
.item{
    background-color:  var(--projects-color);
    border: 2px solid var(--tab-color-bold);
}

.overlaping{
    position: relative;
    display: flex;
    justify-content: center;
    
    max-width: 80vw;
    img{
        position: absolute;
        top:0;
        /* height: 100%; */
        transition: all 2s;
    }
    img:last-of-type{
        opacity: 0;
    }
}
#ai_lifecycle{
    position: relative;
    
    width: 100%;
    p{
        text-align: center;
    }
    video{
        position: relative;
        width: 100%;
        z-index: 1;
    }
    i{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
    }
}
#ai-intro{
    /* spinning loading icon */
    
    position: relative;
    .card-content{
        position: relative;
    }
    .sub-content{
        
        position: relative;
        text-align: justify;
        overflow: hidden;
        flex:1;
        
    }
    
    .sub-content:first-of-type {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        i{
            position: absolute;
            top: 50px;
            color: var(--tab-color-bold);
            font-size: 300%;
            z-index: 0;
        }
        video{
            position: absolute;
            height:160%;
            max-width: 90vw;
            top:-40%;
            opacity: 0.5;
            z-index: 0;
            transform: rotateX(45deg);
        }
    } 
    
    .project-icons-container{
        width: 400px;
        flex-direction: column;
        gap:0;
    }
    .project-icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:3%;
        margin-top: 10px;
        z-index: 2;
        .plus-sign{
            height: 10px;
            
        }
        img{
            height: 50px;
        }
        .eye_icon{
            height: 80px;
        }
        
    }
}

.mini-card{
    position: relative;
    transition: all 2s;
    .subcontent .card-title{
        position: relative;
        top:0;
        z-index: 0;
    }
}

#project-list
{
    
    .card-title{
        background-color: var(--projects-color);
        
    }
    
    /* .not-viewed{
        display: none;
    } */
    
    /* .mini-card:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        
    } */
    .rotation-animation{
        position: relative;
        transform-style: preserve-3d;
        perspective-origin: center -400px;
        height: 400px;
        z-index: 2;
        transform: translateZ(-500px) rotateY(0deg);
        transition: all 2s;
        
    }
    
    .cards-container{

        transform-style: preserve-3d;
        perspective: 2000px;
        backface-visibility: visible;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 450px;
        background-color: rgb(245,245,245);
        padding: 1rem;
        gap: 1rem;

    }
    .subcontent .card-title{
        display: flex;
        gap: 10px;
        padding: 0 10px;
        font-size: 1rem;
        background-color: lightgray;
        transition: all 2s;
        justify-content: center;
        border-top: 2px solid rgba(0, 0, 255, 0.2);
        border-bottom: 2px solid var(--projects-color);
        
        i{
            transition: all 2s;
        }
    }
   
   .box-icons-container{
    position: relative;

    .fa-box-open{
        position: absolute;
        transform: translateX(-85%);
        top: 20%;
        
    }
    .hide{
        opacity: 0;
    }
    
   }
   .rotation-animation .mini-card{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 0;
        border: none;
        background-color: transparent;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        background-color: rgba(145, 200, 255, 0.05);
    }
    
    /* This is the mini cards container that contains front left right faces */
    .subcontents-container{
        perspective: 1000px;
        perspective-origin: center -400px;
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        .subcontent{
            
            flex:1;
            overflow-y: auto;
            position: relative;
            transition: all 2s;
            background-color: white;
            z-index: 1;
        }
        
        video{
            width: 100%;
            box-shadow: 0 0 20px rgba(0,0,0,0.5);
            
            
            
        }
        
        
        
        .face-content{
            height: 90%;
            justify-content: top;
            align-items: left;
            display: flex;
            flex-direction: column;
            padding: 0.5rem;
            
            ul{
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
            }
            p{
                
                text-indent: 0;
                margin-bottom: 0.5rem;
            }
            strong{
                
                font-size: 1rem;
                font-weight: 500;
            }
        }
        .front{
            z-index: 2;
            border-right: 2px dotted gray;
            border-left: 2px dotted gray;
            
            .card-title{
                cursor: pointer;
                p{
                    user-select: none;

                }
            }
            
            
            
        }
        .left{
            transform-origin: right center;
            .card-title{
                border-left: 2px solid rgba(0, 0, 255, 0.2);
            }
            /* transform: rotateY(0) ; */
            
        }
        .rotateRight{
            transform: scaleX(0.1) rotateY(-172deg) ;
            
        }
        
        .right{
            font-size: 1rem;
            word-spacing: 5px;
            transform-origin: left center;
            
            .card-title{
                font-size: 1rem;
                border-right: 2px solid rgba(0, 0, 255, 0.2);
            }
            /* transform: rotateY(0deg) ; */
        }
        .rotateLeft{
            transform: scaleX(0.1) rotateY(172deg) ;
            
        }
    }
}
.title{
    font-size: 1rem;
}
.left .face-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    /* max-width: 80vw; */
    img{
        width: 100%;
        /* width: 300px; */
        /* width: fit-content;
        max-width: 75vw; */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

}
label{
    user-select: none;
}
.border_right{
    border-right: 3px solid var(--projects-color);
}
.border_left{
    border-left: 3px solid var(--projects-color);
}
.border_top{
    border-top: 3px solid var(--projects-color);
}
.border_bottom{
    border-bottom: 3px solid var(--projects-color);
}

.viewed_color{
    background-color: var(--projects-color);
}
footer span{
    color: blue;
}

/*********** Overlapping Effect style**********/
.left .overlap-container{
    position: relative;
    display: flex;
    width: fit-content;
    overflow: hidden;
    .overlap-item2{
        position: absolute;
        width: 50%;
        overflow: hidden;
        border-right: 3px dashed rgba(255, 255, 255, 0.3);
        
    }
    img{
        width: 200px;
    }
    .overlap-control{
        position: absolute;
        z-index: 1;
        top:50%;
        left: 50%;
        transform: translateX(-57%);
        /* Fontawosem <-> icon */
        color:var(--projects-color);
        cursor: pointer;
        font-size: x-large;
    }
}

/* .mini-card1{
    transform: rotateY(180deg) translateZ(160px);
}
.mini-card2{
    transform: rotateY(0deg) translateZ(160px);
} */
/********** Pagination *******************/
.pagination{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    gap:10px;
    user-select: none;
}
.pagination-button{
    font-size: 2rem;
    padding: 10px;
    border: 2px solid var(--main-color);
    cursor: pointer;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}
.pagination-button-no-shadow{
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0);
}
.pagination-button:hover{
    border-color: var(--projects-color);
    color: var(--projects-color);
    background-color: white;
}
/*********** Mobile style ****************/
@media (max-width:700px) {
    .overlaping{
        width: 250px;
    }
    #project-list{
        
        height: fit-content;
        .rotation-animation{
            height: 300px;
        }
        .mini-card{
            height: fit-content;
        }
        .cards-container{
            width: 100%;
            height: fit-content;
            overflow-y: auto;
            
        }
        .cards-container .mini-card{
            /* otherwise it will break the stiky property of the title */
            height: fit-content;
            
        }
        .subcontents-container{
            flex-direction: column;
            align-items: center;
            height: fit-content;
            .front{
                border: none;
                border-bottom: 2px dashed gray;
                order:1;
                
                
            }
            .face-content{
                height: 100%;
            }
            .left{
                /* border-right: 2px dashed gray; */
                width: 100%;
                transform-origin: top center;
                order:2;
                .face-content{
                    width: 100%;
                }
                img{
                    width: 70vw;
                    max-height: none;
                }
            }
            .right{
                transform-origin: top center;
                width:100%;
                /* border-left: 2px dashed gray; */
                order:3;
                
            }
            .subcontent{
                flex:none;
                max-width: 100%;
                height: fit-content;
            }
            .rotateRight, .rotateLeft{
                
                transform: rotateX(-170deg) ;
                height: 0;
            }
            
        }
    }
    
    
    
    
    
    
}