@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&display=swap');
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid darkorange; */
}
html, body{
    font-weight: 600;
    color: rgba(40, 40, 40, 0.9);
    font-family: "Reem Kufi Fun",Consolas, sans-serif;
    line-height: 1.5;
    text-align: justify;
    scroll-behavior: smooth;
    background-color: rgb(245,245,245);
}

:root{
    --main-color:#e4e4df;
    --about-color:#84E291;
    --projects-color:#A6CAEC;
    --publications-color:#ffc900;
}

/* main{
    margin-bottom: 50px;
} */
li{
    word-spacing: 0.3em;
    
}
a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}
.card strong{
    font-weight: 600;
    color: var(--tab-color-bold);
    font-size: larger;
}
.card a{
    font-weight: 600;
    color: var(--tab-color-bold);
    text-decoration: underline;
}
p{
    text-indent: 1rem;
    text-align: justify;
    font-weight: 400;
    position: relative;
}
.title{
    text-align: center;
    font-weight: 700;
    font-size: larger;
    color:var(--tab-color-bold);
}

.card-text p:first-of-type{
    text-indent: 0;
}
.initial-letter{
    font-size: 300%;
    text-indent: 0;
    padding: 0 10px;
    line-height: 100%;
    margin-right: 5px;
    float: left;
    font-weight: bold;
    position: relative;
    top: 10px;
    color: var(--tab-color-bold);
    border:2px solid var(--tab-color-bold);
}
.nav-transparent{
    top: -12%;
}
/* ****************************************** */
/* Navigation bar*/
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--main-color);
    padding-left:1.5rem;
    font-size: 1.5rem;
    transition: all 1s;
    
}
/* animated logo */
.logo{
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    padding: 0.5rem 0.5rem;
}
/* navigation area */
.main-nav{
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 60%;
}
    
    /* Container for nav buttons, arrow icon, and hidden menu */
    .menu-container{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        /* Buttons of the main navigation */
        .nav-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 0.5rem 1rem;
            border-radius: 1.5rem;
            background-color: var(--main-color);
            transition: all 1s ease;
            
        }
        .burger-icon{
            /*burger menu icons*/
            position: absolute;
            left: 30px;
            display: none;
            transition: all 1s;
            
        }
        /* Hidden menu styles */
        .menu{
            display: flex;
            flex-direction: column;
            text-align: center;
            color: black;
            box-shadow: 3px 3px 1px black;
            transition: all 1s ease;
            overflow: hidden;
            position: absolute;
            z-index: 1;
            top: 130%;
            height: 0;
            width:280px;
            opacity: 0;
        }
            .menu-icon{
                font-size: 200%;
                padding: 0.5rem;
            }
            .menu a{
                padding: 0.5rem 1rem;
                font-weight: 400;
                border-bottom: 1px solid black;
            }
            .menu *:hover{
                color: white;
                background-color: black;

            }
        /* Icons inside main-nav */
        .arrow-icon{
            transition: all 0.5s;
            color: gray;
            position: absolute;
            font-size: 1.5rem;
            text-align: center;
            text-align: center;
            top: 95%;
            z-index: 2;
        }
        
        
    /* Menus displayed after hover */
    .publications-items{
        background-color: var(--publications-color);
    }
    .ai-projects-items{
        background-color: var(--projects-color);
    }
    .about-items{
        background-color: var(--about-color);
    }
    .menu-container:hover{
        .nav-btn{
            box-shadow: 5px 5px 1px black;
            background-color: white;
            border: 1px solid black;
        a{
            text-decoration: underline;
        }
        .burger-icon{/*burger menue rotate*/
            transform: rotate(90deg);
        }
        }

        .menu{
            height: auto;
            opacity: 1;
        }
        /* arrow icon of the hidden menu */
        .arrow-icon{
            transform: rotate(180deg);
            color: black;
            width: 150%;
        }

    }

    /* Contact button */
.contact-btn{
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 4rem;
    background-color: white;
    border: 1px solid black;
    transition: all 1s;
}
.contact-btn:hover{
    text-decoration: underline;
    color: black;
}


/* *********************************** */
/************ Main Content *************/
/* section style */
section{
    display: flex;
    flex-direction: column;
    padding: 10vh 1vw;     
    border-top: 5px solid var(--main-color);
    align-items: center;
}
section:first-child{
    border-top: none;
}

/* card styles */
.card{
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.1rem;
    transition: all 1s;
    background-color: white;
}
.card:hover, .card:focus{
    box-shadow: 8px 8px 0px black;
    .card-title{
        position: sticky;
        top:1px;
        z-index:3;
    }
    .card-image{
        filter: grayscale(0%);
    }
    .card-image::after{
        opacity: 1;    
    }

}

/* card content styles*/
.card-title{
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

.card-content{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    font-size: 1.2em;
    font-weight: 400;
}
.card-line{
    border-bottom: 2px dotted gray;
    border-left: 2px dotted gray;
}
.card-text{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    padding: 0.5rem;
    
}
.card-tail{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.5rem;
}
.card-image{
    filter: grayscale(100%);
    border-radius: 2px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.card-image::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: inherit;
    background-size: inherit;
    background-repeat: inherit;
    transition: all 1s;

}
.sub-content{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: left;
    margin-bottom: 0.5rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    
}


/* Contact me form */
.card.contact-me{
    width: 200px;
}
.card-content form{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    div{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1rem;
        input{
            outline-style: none;
            border-bottom: 1px solid black;
            background-color: rgba(0,0,0,0.05);
        }
    }
    *{
        font-size: 1.2rem;
        color:rgba(40, 40, 40, 0.9);
        border: none;
    }
    button{
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-weight: 600;
        font-size: 1.5rem;
        font-family: Consolas, sans-serif;
        background-color: var(--about-color);
        border:2px solid gray;
        cursor: pointer;
        
    }
    button:hover{
        border-color: var(--about-color);
        background-color: black;
        color: var(--about-color);
    }
    textarea{
        text-align: justify;
        outline-style: none;
        background-color: rgba(0,0,0,0.05);
        border-top:2px solid gray;
    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100px;
    background-color: var(--main-color);
    border-top: 2px solid gray;
    
    img{
        
        width: 30px;
        filter: grayscale(100%);
        
    }

    span{
        font-weight: 900;
    }
}
footer img:hover{
    filter: grayscale(0);
}


/* Mobile Screen */
@media (max-width:700px){
    /* .card{
        max-width: 94vw;
    } */
    section{
        padding: 10vh 5vw;
    }
    nav{
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    
    .menu{
        top: 100%;
    }
    .main-nav{
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        width: 100%;
        gap:0;
    }
    .contact-btn{
        width: 100%;
        justify-content: center;
    }
    .nav-transparent{
        top: -50%;
    }
    .menu-container{
        border: 1px solid gray;
        .nav-btn{
            width: 100%;
            border-radius: 0;
        }
    }
    
    .arrow-icon{
        display: none;
    }
    .burger-icon{
        display:block;
        
    }
    .card{
        width: 90vw;
    }
    .card-content{
        flex-direction: column;
    }
   footer{
    flex-direction: column;
    text-align: center;
    align-items: top;
    gap: 0.5rem;
    height: 100%;
    padding-bottom: 50px;
    
   
   
    
}

.contact-icons{
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1.5rem;
    img{
        width: 40px;
    }
}
   .card-content form{
        width: 100%;
        div{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0.5rem;
            input{
                width: 240px;
            }
        }
        
   }
}

/* Overriding parameter */
.height600{
    height: 400px;
}
.overflow{
    overflow: hidden;
}
.height300{
    height: 300px;
}
.underline{
    text-decoration: underline;/* This is the current page (index.html=>About page)*/
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}