*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-weight: 600;
    color: rgba(40, 40, 40, 0.9);
    line-height: 1.5;
}

:root{
    --main-color:#F4F4F0;
    --about-color:#84E291;
    --projects-color:#A6CAEC;
    --publications-color:#E59EDD;
}
a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

/* ****************************************** */
/* Navigation bar*/
nav{
    display:flex;
    font-family: Consolas, sans-serif;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: var(--main-color);;
    padding-left:1.5rem;
    font-size: 1.2rem;
    
}
    /* animated logo */
    .logo{
        width: 4rem;
        height: 4rem;
        overflow: hidden;
        padding: 0.5rem 0.5rem;
    }
    /* navigation area */
    .main-nav{
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
    }
        
        /* Container for nav buttons, arrow icon, and hidden menu */
        .menu-container{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        
            /* Buttons of the main navigation */
            .nav-btn{
                padding: 0.5rem 1rem;
                border-radius: 1.5rem;
                
                transition: all 1s ease;
            }
            /* Hidden menu styles */
            .menu{
                display: flex;
                flex-direction: column;
                color: black;
                border: 1px solid black;
                box-shadow: 3px 3px 1px black;
                transition: all 1s ease;
                overflow: hidden;
                position: absolute;
                z-index: 1;
                top: 130%;
                height: 0;
                width:0;
                opacity: 0;
            }

                .menu a{
                    padding: 0rem 1rem;
                    font-weight: 400;
                    
                }
                .menu a:hover{
                    color: white;
                    background-color: black;

                }
            /* Icons inside main-nav */
            .main-nav i{
                transition: all 1s;
                color: gray;
                position: absolute;
                font-size: 1.5rem;
                width: 100%;
                text-align: center;
                top: 100%;
                line-height: 1;
                z-index: 2;
            }
        /* Menus displayed after hover */
        .menu-container:hover{
            .nav-btn{
            box-shadow: 5px 5px 1px black;
            background-color: white;
            text-decoration: underline;
            border: 1px solid black;
            }
            .menu{
                height: auto;
                width: 10rem;
                opacity: 1;
            }
            /* Icons of the hidden menu */
            i{
                transform: rotate(180deg);
                color: black;
            }

        }
    .about{
        text-decoration: underline;/* This is the current page (index.html=>About page)*/
    }
    .about-items{
        background-color: var(--about-color);
        
    }

    .ai-projects-items{
        background-color: var(--projects-color);
    }

    .publications-items{
        background-color: var(--publications-color);
    }


    /* Contact button */
    .contact-btn{
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        height: 4rem;
        background-color: white;
        border: 1px solid black;
        transition: all 1s;
    }
    .contact-btn:hover{
        text-decoration: underline;
        color: black;
    }

/* *************************** */
/* main content */
.background{
    position: relative;
    width: 700px;
    height: 300px;
    background: url(/images/about-background-1.jpg) center/cover no-repeat;
    filter: grayscale(100%);
    
}
.background::before{
    content: '';
    position: absolute;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    width: 85px;
    height: 88px;
    top: 59%;
    left: 45%;
    
}
.background::after{
    content: '';
    background: url(/images/about-background-2.jpg) center/cover no-repeat;
    position: absolute;
    width: 700px;
    height: 300px;
    opacity: 0;
    transition: all 1s;
}
.background:hover{
    filter: grayscale(0%);
}
.background:hover::after{
    opacity: 1;
}

/* Mobile Screen */
@media (max-width:700px){
    nav{
        flex-direction: column;
        gap: 0.5rem;
    }

    .main-nav{
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        gap:0.5rem;
    }
    
}