:root{
    --tab-color-bold:#ca9f03;
}
.menu *:hover{
    color: var(--publications-color);
}
.card-title{
    background-color: var(--publications-color);
}
.fa-computer-mouse{
    position: absolute;
    top:0px;
    right: 10px;
    opacity: 0.6;
}
.hover-area{
    position: absolute;
    width: 60px;
    height: 60%;
    top: 10%;
    right: 0px;
    z-index: 2;
}
/* ********* General Card style *********** */
.sub-content{
    position: relative;
    
    img{
        width: 100%;
    }
}
/* ********Overview Section ************ */
#overview{
    width: 450px;
    
    .sub-content{
        transition: all 2s;
    }
    .card-content{
        position: relative;
        flex-direction: column;
        
    }
    a{
        font-size: larger;
    }
    .sub-content{
        li:hover{
            background-color: black;
            color: white;
        }
    }
    .sub-content:last-child{
        transform-style: preserve-3d;
        perspective: 1000px;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        
        
    }
    .flip{
        position: relative;
        padding: 0.5rem;
        backface-visibility:hidden;
        
    }
    .card1{
        transform: rotateX(0deg);
    }
    .card2{
        position: absolute;
        transform: rotateY(180deg);
        
        img{
            height:150px;
            width: auto;
        }
    }

    /* .sub-content:first-child img{
        width: 500px;
        max-width: 80vw;
        border: 1px solid black;
    } */
    ul{
        font-size: 0.8em;
        margin-left: 0.5rem;
    }
    
}
#overview:has(.hover-area:hover){
    .sub-content:last-child {
        transform: rotateY(180deg);
    }
   
}

#overview:hover{
    
    .sub-content{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

/* ********** Publication section ************* */
#publication_list{
    .card-content{
        justify-content: space-around;
        gap: 0.5rem;
        align-items: start;
        flex-wrap: wrap;
    }
    /* sub-content contains mini cards */
    .sub-content{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: stretch;
        width: 400px;
        gap:0.5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        padding: 0;
       
        /* Publication card title */
        .card-title{
            padding: 0 5px;
            text-align: center;
            border-bottom: 1px solid black;
            font-weight: 400;
            font-size: medium;
        }
    }
}
#publication_list:hover .sub-content{
    .card-title{
        position: relative;
        z-index: 0;
    }
    
}
#publication_list .sub-content:hover{
    .publication-content img{
        
        border: 2px solid var(--tab-color-bold);
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        
    }
}
.publication-content{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
    img{
        transition: all 1s;
        height: 200px;
        width: auto;
    }
    .publication-info{
       font-size: small;
       p{
        text-indent: 0;
       }
    }
    
}

.publication-footer{
    position: relative;
    display: flex;
    flex-direction: column;
    color:var(--tab-color-bold);
    background-color: rgba(0, 0, 0, 0.05);
    height: 35px;
    i{
        position: relative;
    }
    p{
        text-align: center;
    }
}
.key_figures{
    position: absolute;
    top: 105%;
    display: grid;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    grid-template-columns: repeat(2,1fr);
    /* border-top: 1px solid black; */
    transform:skewX(-20deg) rotateX(92deg) ;
    opacity: 0.5;
    z-index: 1;
    width: 100%;
    gap: 0.5rem;
    transition: all ease-in-out 1s;
    transform-origin: top center;
    .back_cover{
        transition: all 1s;
        position: absolute;
        top:0;
        background-color: white;
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    img{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    
}
.publication-footer:hover{
    
    
    i{
        opacity: 1;
    }
    .key_figures{
        transform: skewX(-1deg) rotateX(0deg);
        opacity: 1;
        z-index: 2;
        .back_cover{
            opacity: 0;
        }
    }
}
/********* logo animation color **************/
.item{
    background-color:  var(--publications-color);
    border: 2px solid var(--tab-color-bold);
}

/* Developed by color */
footer span{
    color: var(--tab-color-bold);
}

 /********* Mobile view *****************/
@media  (max-width:700px) {
    #overview{
        width:100%;
    }
    #publication_list{
        .sub-content{
            width: 100%;
        }
        .publication-content{
            flex-direction: column;
            align-items: center;
            .publication-info p{
                text-align: justify;
            }
        }
    }
}